@model ClayPay.Models.UserAccess


 @*class="has-background-light"*@
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <title>Clay County Payment Application</title>
  @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">*@
  <link href="~/Content/Fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />
  <link href="~/Content/myBulma.css" rel="stylesheet" />
  <link href="~/Content/Utilities.min.css" rel="stylesheet" />
</head>
<body>

  <section class="hero is-primary is-small">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a style="text-shadow: 2px 2px 0px rgba(90, 90, 90, 1);"
               href="/"
               class="navbar-item has-text-weight-bold is-size-4">
              Clay County Payment Center @ViewBag.Development
            </a>
          </div>
          @if (Model.authenticated)
          {
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a href="~/Payments"
                   class="navbar-item @(ViewBag.Page == "payments" ? "is-active" : "")">
                  Payments
                </a>
                <a href="~/Balancing"
                   class="navbar-item @(ViewBag.Page == "balancing" ? "is-active" : "")">
                  Balancing
                </a>
                <a href="~/ImpactFees"
                   class="navbar-item @(ViewBag.Page == "impactfees" ? "is-active" : "")">
                  Impact Fees
                </a>
                <span class="navbar-item">
                  <a class="button is-primary is-inverted">
                    <span class="icon">
                      <i class="fab fas fa-search"></i>
                    </span>
                    <span>Permit Search</span>
                  </a>
                </span>
              </div>
            </div>
          }
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container">
        @switch (ViewBag.Page)
        {
          case "payments":
            <h1 id="menuTitle"
                class="title">
              Welcome!
            </h1>
            <h2 id="menuSubTitle"
                class="subtitle">
              You can use this application to easily find and pay Clay County fees.
            </h2>

            break;

          case "impactfees":
            <h1 id="menuTitle"
                class="title">
              Existing Agreements and Allocations
            </h1>
            <h2 id="menuSubTitle"></h2>
            break;
          case "balancing":
            <h1 id="menuTitle"
                class="title">
              Daily Balance Process
            </h1>
            <h2 id="menuSubTitle"></h2>
            break;
        }
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="container">
        <nav class="tabs is-boxed">
          <ul id="menuTabs"></ul>
        </nav>
      </div>
    </div>
  </section>

  @RenderBody()



</body>
</html>